body{
    width: 100%;
    font-family: Poppins;
}
.heading{
    margin-left: 100px;
}

.lowerBox{
    margin: 50px 100px;
    display: flex;
} 
.filter {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding: 20px;
    width: 260px;
    height: 682px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    color: #192F60;
    font-size: larger;

}
.filter p{
    font-weight: bold;
    font-size: x-large;
}
.filter select{
    width: 208px;
    height: 35px;
    border: 1px solid #8C96AB;
    border-radius: 3px;opacity: 0.5;
}

.heading {
    color: #192F60;
    text-align: left;
    margin: 40px;
    width: 100%;
    font-size: xxx-large;
}


.rightBox {
    display:flex;
    width: 800px;
    flex-direction: column;
    justify-content: space-around;
}
.searchResult {    
    /* display: inline-block; */
    /* align-items: center; */
    width: 900px;
    height: 300px;
    border: 1px solid white;
    box-shadow: 0px 3px 6px #a9a9b0;
    margin: 20px;
    text-decoration: none;
    color: black;
    transition: all 0.25s ease-in-out;
}
.searchResult:hover{
    color: black;
    box-shadow: 4px 4px 10px #47474f;
    transform: scale(1.01);
}
.shopAddress{
    position: absolute;    
    margin-right: 200px;
    margin-top: 20px;
    width: 100%;
}


.searchResult img{
    width: 200px;
    height: 200px;
    border-radius: 30%;
    margin: 20px;
}
.line{
    display: flex;
    width: 100%;
    background-color: #7e7e7e;
    text-align: center;
    position: relative;
    height: 1px;
}
.noData{
    color: red;
    font-size: 25px;
    font-family: cursive;
    text-align: center;
}
.cuisine,
.price {
    margin-left: 40px;

}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.pagination a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #8C96AB;
    border-radius: 7px;
    background-color: #8c96ab3e;
    font-size: 18px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
}
.pagination a:hover{
    cursor: pointer;
    background-color: #8c96ab6e;
}